@media screen and (max-width:576px){

  .nav-text{
  display: none;
  
}
.hamberger{
  display: block;
  color: white;
  margin-right: 35px;
  font-size: 1.5rem;
}
.nav-p{
  margin-left: 30px;
}
.top-main-div{
  flex-direction: column;
}
.top-div-right{
  width: 500px;
  height: 300px;
  margin: auto;
  margin-top: 20px;
 
 
}
.nav-p{
  font-size: 2.25rem;
}
.top-para1{
font-size: 2.25rem;
font-weight: 800;
margin-bottom: 10px;
}
.top-para2{
  font-size: 1rem;
}
.flex-nav{
  margin:auto;
}
.top-btn1{
  background-color: #E6533C;
  font-size: 1rem;
  padding: 15px;
  border-radius: 40px;
  width: 180px;
  border: none;
}
.top-btn2{
  font-size: 1rem;
  padding: 15px;
  border-radius: 40px;
  width: 180px;
  margin-left: 20px;
}
.top-img{
  margin-left: 38px;
  position: relative;
  
}
.floting-btn1{
position: absolute;
left: 40px;
top:600px;
}
.floting-btn2{
  top: 400px;
  left: 250px;
}

/* NAV AND TOP END HERE */

/* HABIT SECTION STAR HERE */
.habit-main-div{
flex-direction: column;
max-width: 300px;
/* border: 5px solid red; */
margin: auto;
margin-top: 30px;
}
.habit-para1{
  font-size: 2.5rem;
  font-weight: 700;
}
.habit-para2{
  font-size: 0.7rem;
}
    /* RUN SECTION START */
.run-main-div{
      flex-direction: column;
      margin: auto 20px;
      margin-left: 50px;
      max-width: 100%;
      
}
.run-para1{
  font-size: 2rem;
  
}
.run-btn{
    font-size: 1.4rem;
    padding: 15px;
    width: 90%;
}

.run-img{
  margin: 20px 0;
  margin-left: 28px;
 
}

}